<div class="row align-items-center">
    <div class="col-lg-6 col-md-9 ">
        <div class="hero__caption">
            <span data-animation="fadeInLeft" data-delay=".3s"> Работайте с сайтом спокойно: теперь мы делаем бэкапы каждый день </span>
            <h1 data-animation="fadeInLeft" data-delay=".6s">Ежедневные бекапы</h1>
            <p data-animation="fadeInLeft" data-delay=".8s">30 резервных копий в месяц. Ваши данные под надежной защитой.</p>
            <!-- Slider btn -->
            <div class="slider-btns">
                <!-- Hero-btn -->
                <a data-animation="fadeInLeft" data-delay="1s" href="industries.html" class="btn radius-btn">get started</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hero__img d-none d-lg-block f-right">
            <img src="{{'assets/img/hero/hosting3-home-image-22.png'|theme}}" alt="" data-animation="fadeInRight" data-delay="1s">
        </div>
    </div>
</div>