<div class="footer-wrappr " data-background="{{'assets/img/gallery/footer-bg.png'|theme}}">
    <div class="footer-area footer-padding ">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-caption">
                        <!-- logo -->
                        <div class="footer-logo mb-25">
                            <a href="index.html"><img src="{{ 'assets/img/logo/highload-logo.png'|theme }}" alt=""></a>
                        </div>
                        <div class="section-tittle mb-20">
                          <h2 style="font-size: 30px !important;">Нужна <span style="border-bottom:4px solid #d0098d" class="themecolor">помощь?</span></h2>
                            <p>Напишите нам, если у Вас возникнут вопросы</p>
                            <a href="billing.php?do=tickets" class="btn"></i>Задать вопрос</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-xl-3 col-lg-2 col-md-4 col-sm-5">
                    <div class="single-footer-caption">
                        <div class="footer-tittle">
                            <h4>По всем вопросам:</h4>
                            <ul>
                                <li><p>По работе сайта и общие вопросы:</br><a href="mailto:help@hi-l.ru">help@hi-l.ru</a></p></li>
                                <li><p>По вопросам работы сервисов:</br><a href="mailto:hosting@hi-l.ru">hosting@hi-l.ru</a></p></li>
                                <li><p>Финансовые вопросы:</br><a href="mailto:billing@hi-l.ru">billing@hi-l.ru</a></p></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-2 col-md-4 col-sm-5">
                    <div class="single-footer-caption">
                        <div class="footer-tittle">
                          <p>HighLoad Hosting - дешёвый хостинг сайтов, который позволит вам легко создать сайт любой тематики. Мы поможем Вам настроить VPS или перенести Ваш сайт к нам на хостинг. Занимайтесь развитием своего бизнеса, а обслуживание сервера доверьте нам.</p>
                          <p>По вопросам сотрудничества: ep@south-it.ru</p>
                          <p>&copy; HighLoad-хостинг» 2018–<script>document.write(new Date().getFullYear());</script></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to South-IT. Can be removed. Template is licensed under NoLicense -->
                              Made with ❤️ and ☕️ in <a href="https://south-it.ru">South-it</a>
                              <!-- Link back to South-IT. Can be removed. Template is licensed under NoLicense --></p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
