<!-- Header Start -->
<div class="header-area header-transparent">
    <div class="main-header ">
        <div class="header-bottom  header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="{{ 'home'|page }}"><img src="{{ 'assets/img/logo/highload-logo.png'|theme }}" style="width: 90%;" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="menu-wrapper d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li class="{% if this.page.id == 'help' %}active{% endif %}"><a href="{{ 'hosting'|page }}">Хостинг</a></li>
                                        <li class="{% if this.page.id == 'help' %}active{% endif %}"><a href="{{ 'virtual'|page }}">VPS/VDS</a></li>
                                        <li class="{% if this.page.id == 'help' %}active{% endif %}"><a href="{{ 'doamins'|page }}">Домены</a></li>
                                        <li class="{% if this.page.id == 'help' %}active{% endif %}"><a href="{{ 'servers'|page }}">Серверы</a></li>
                                        <li class="{% if this.page.id == 'help' %}active{% endif %}"><a href="{{ 'storage'|page }}">Хранилище</a></li>
                                        <!-- Button -->
                                        <li class="button-header margin-left "><a href="register.html" class="btn">Sign Up</a></li>
                                        <li class="button-header"><a href="login.html" class="btn3">Sign In</a></li>                                                
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div> 
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Header End -->