<div class="about-area1 pb-bottom">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10 d-none d-xl-block d-lg-block">
                <!-- about-img -->
                <div class="about-img ">
                    <img src="{{'assets/img/gallery/hosting3-home-image-33.png'|theme}}" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="about-caption ">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <h2>Хранилище</h2>
                    </div>
                    <p class="mb-40">Быстрый, отказоустойчивый, масштабируемый кластер для полного контроля над данными. За счёт применения технологии Erasure Coding, сервис может работать при одновременном выходе из строя до 1/3 всех ресурсов.</p>
                    <p class="mb-20">Параметры:</p>
                    <ul>
                        <li>
                            <img src="{{'assets/img/icon/right.svg'|theme}}" alt="">
                            <p>Скорость: 40Гбит между нодами</p>
                        </li>
                        <li>
                            <img src="{{'assets/img/icon/right.svg'|theme}}" alt="">
                            <p>Доступ: объектное или блочное устройство</p>
                        </li>
                        <li>
                            <img src="{{'assets/img/icon/right.svg'|theme}}" alt="">
                            <p>Масштабируемость: до 1 петабайта (1024 Tb)</p>
                        </li>
                        <li>
                            <img src="{{'assets/img/icon/right.svg'|theme}}" alt="">
                            <p>Надёжность: одновременный отказ до 1/3 всех дисков/нод кластера</p>
                        </li>
                    </ul>
                    <a href="#" class="btn"><i class="fas fa-shopping-cart"></i>Скоро!</a>
                </div>
            </div>
        </div>
    </div>
</div>
