<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
	<div class="single-card text-center mb-30">
		<div class="card-top">
			<img src="{{'assets/img/icon/price3.svg'|theme}}" alt="">
			<p>Идеально для сайта компании&nbsp</p>
			<h4>Freelancer</h4>
		</div>
		<div class="card-mid">
			<h4>€3 <span>/ месяц</span></h4>
		</div>
		<div class="card-bottom">
			<ul>
				<li>10 сайт</li>
				<li>∞ БД</li>
				<li>∞ почтовых ящиков</li>
				<li>10 Гб SSD</li>
				<li>∞ FTP</li>
				<li>Бесплатная техподдержка</li>
				<li>Ежедневные бэкапы</li>
			</ul>
			<a href="#" class="borders-btn">Заказать</a>
		</div>
	</div>
</div>
