<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
	<div class="single-card text-center mb-30">
		<div class="card-top">
			<img src="{{'assets/img/icon/price2.svg'|theme}}" alt="">
			<p>Оптимально для блога и сайта-галереи</p>
			<h4>Optimo</h4>
		</div>
		<div class="card-mid">
			<h4>€2 <span>/ месяц</span></h4>
		</div>
		<div class="d-md-none">
			<button class="btn" type="button" data-toggle="collapse" data-target="#collapseOptimo" aria-expanded="false" aria-controls="collapseOptimo">
				Подробнее
			</button>
		</div>
		<div class="card-bottom collapse dont-collapse-sm" id="collapseOptimo">
			<ul>
				<li>5 сайтов</li>
				<li>10 БД</li>
				<li>∞ почтовых ящиков</li>
				<li>5 Гб SSD</li>
				<li>5 FTP</li>
				<li>Бесплатная техподдержка</li>
			</ul>
			<a href="#" class="borders-btn">Заказать</a>
		</div>
	</div>
</div>
