<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
	<div class="single-card text-center mb-30">
		<div class="card-top">
			<img src="{{'assets/img/icon/price1.svg'|theme}}" alt="">
			<h4>Shared Hosting</h4>
			<p>Starting at</p>
		</div>
		<div class="card-mid">
			<h4>$4.67 <span>/ month</span></h4>
		</div>
		<div class="card-bottom">
			<ul>
				<li>2 TB of space</li>
				<li>unlimited bandwidth</li>
				<li>full backup systems</li>
				<li>free domain</li>
				<li>unlimited database</li>
			</ul>
			<a href="#" class="borders-btn">Get Started</a>
		</div>
	</div>
</div>
