<section class="team-area section-padding40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="section-tittle section-tittle2 text-center mb-105">
                    <h2>Чем ещё мы можем быть <span class="themecolor" style="border-bottom:4px solid #d1088b;">вам полезны?</span></h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
          <div class="col-lg-6 col-md-6 col-sm-6 ">
              <div class="single-cat">
                  <div class="cat-icon">
                      <img src="{{'assets/img/gallery/hosting3-home-solutions-icon-1.png'|theme}}" alt="">
                  </div>
                  <div class="cat-cap">
                    <div class="section-tittle section-tittle2 mb-30" style="text-align: center !important;">
                      <h1>Поддержка сайтов</h1>
                    </div>
                      <p>Мы возьмем на себя заботу о Вашем сайте: обновление контента и компонентов, поиск и устранение уязвимостей, внесение изменений в дизайн или структуру Вашего сайта. Так же мы занимаемся <a href="https://south-it.ru">созданием сайтов</a>.</p>
                  </div>
              </div>
              <a href="https://south-it.ru/" class="btn"><i class="fas fa-info"></i>Узнать больше</a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="single-cat">
              <div class="cat-icon">
                  <img src="{{'assets/img/gallery/hosting3-home-solutions-icon-2.png'|theme}}" alt="">
              </div>
              <div class="cat-cap">
                <div class="section-tittle section-tittle2 mb-30" style="text-align: center !important;">
                  <h1>Администрирование серверов</h1>
                </div>
                  <p>Если у вас в штате нет квалифицированных администраторов, которые смогут настраивать сервер и следить за его работой, или нужно комплексное решение, то обращайтесь к нам. Наши сотрудники готовы взять задачи на себя.</p>
              </div>
          </div>
          <a href="#" class="btn"><i class="fas fa-shopping-cart"></i>Заказать обслуживание</a>
          </div>
        </div>
    </div>
</section>
