<section class="ask-questions section-bg1 section-padding30 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 ">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-90">
                    <h2>Frequently ask questions</h2>
                    <p>Supercharge your WordPress hosting with detailed website analytics, marketing tools. Our experts are just part of the reason Bluehost is the ideal home for your WordPress website. We're here to help you succeed!</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in 1..4 %}
            {% partial 'home/faq/' ~ i  %} 
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xl-12 ">
                <div class="more-btn text-center mt-20">
                    <a href="#" class="btn">Go to Support</a>
                </div>
            </div>
        </div>
    </div>
</section>