<section class="pricing-card-area fix">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-9 col-lg-9">
				<div class="section-tittle text-center mb-90">
					<h2>Лучший виртуальный хостинг <span class="themecolor" style="border-bottom:4px solid #d1088b;">для сайтов</span></h2>
					<p>Виртуальный хостинг - услуга по размещению сайта в интернете. Хостинг позволяет вашему сайту работать 24/7 без перебоев. Вам не нужно настраивать сервер и следить за его стабильной работой, об этом заботится хостер.</p>
				</div>
			</div>
		</div>
		<div class="row">
			{%partial "home/pricing/start.htm" %}
			{%partial "home/pricing/optimo.htm" %}
			{%partial "home/pricing/freelancer.htm" %}
			{%partial "home/pricing/profi.htm" %}
		</div>
	</div>
</section>