<div class="slider-area slider-bg ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height ">
            <div class="container">
                {%partial "home/slider/slide1" %}
            </div>
        </div>      
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height ">
            <div class="container">
                {%partial "home/slider/slide2" %}
            </div>
        </div>      
    </div>
    <!-- Slider Shape -->
    <div class="slider-shape d-none d-lg-block">
        <img class="slider-shape1" src="{{'assets/img/hero/top-left-shape.png'|theme}}" alt="">
    </div>
</div>
