<div class="col-lg-6 col-md-6">
	<div class="single-question d-flex mb-50">
		<div class="pera">
			<h2>Какие способы оплаты?</h2>
			<p>Для удобства наших клиентов мы предлагаем множество способов оплаты услуг с моментальным зачислением и без комиссий: - банковские карты Visa, MasterCard, Maestro, МИР - электронные деньги Qiwi, Яндекс Деньги, WebMoney, PayPal - интернет банкинг - мобильные операторы - Биткоины При годовой оплате и более возможно заключение договора и оплата по безналичному расчёту.</p>
		</div>
	</div>
</div>
